<link rel="stylesheet" href="~/Content/style/CSS/shirtsCSS/ShirtsCradBoxStyle.css"/>

@using SportsEquipmentStoreApp.Models;
@{
    ViewBag.Title = "AllShirts";
}


<div id="pageContianer"> 
    <h2>All Shirts</h2>
    <div class="buttons">
        <button type="button">@Html.ActionLink("Manager view", "ShirtsManagerTable", "Shirts")</button>
        <button type="button">@Html.ActionLink("short Sleeves", "ShortSleeves", "Shirts")</button>
        <button type="button">@Html.ActionLink("long Sleeves", "LongSleeves", "Shirts")</button>
        <button type="button">@Html.ActionLink("Only Dreyfit", "DreyfitOnly", "Shirts")</button>
        <button type="button">@Html.ActionLink("Sort By Price", "SortedByPrice", "Shirts")</button>
    </div>
</div>

<div class="cardContainer">
    @foreach (Clothing shirt in Model)
    {
        <div class="cardBox">
            <img src="@shirt.ImageLink" />
            <h4><span> Type:</span> @shirt.TypeOfClothing</h4>
            <h4><span> Company:</span>@shirt.Company</h4>
            <h4><span>Price:</span>@shirt.Price</h4>
            <button>add</button>
        </div>

    }
</div>